<!doctype html>
    <html>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <head>
            <meta charset="UTF-8">
            <title>料理の画像でレシピ検索</title>
        </head>
        <body>
            <h1 class="top">料理の画像でレシピ検索</h1>
            <form method = post enctype = multipart/form-data>
            <p><input type=file name = file>
            <input type = submit value = Upload>
            </form>
            <p>料理の画像をアップロードすると、レシピを検索できます。</p>
            <p>現在対応している料理は以下の９種類です。</p>
            <p>・カリフォルニアロール</p>
            <p>・チャーハン</p>
            <p>・カレーレイス</p>
            <p>・牛丼</p>
            <p>・唐揚げ</p>
            <p>・肉じゃが</p>
            <p>・パスタ</p>
            <p>・ご飯</p>
            <p>・ローストビーフ</p>
        </body>